body {
    background-color: #eee;
    padding-bottom: 20px;
    padding-top: 30px;
}

.intro {
    background-color: #2d2d2d;
    color: #eee;
}

.group {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 19px;
    vertical-align: top;
}

@media (min-width: 768px) {
    .group {
        display: inline-block;
        margin-right: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .group { width: 353px; }
    .group:nth-child(2n) { margin-right: 0; }
}

@media (min-width: 992px) and (max-width: 1169px) {
    .group { width: 304px; }
    .group:nth-child(3n) { margin-right: 0; }
}

@media (min-width: 1170px) {
    .group { width: 370px; }
    .group:nth-child(3n) { margin-right: 0; }
}

.group .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
}

.group-name {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
}

.group-schedule {
    font-size: 12px;
    line-height: 10px;
}

.group-description {
    font-style: italic;
    color: #666;
}

.group .inner :first-child {
    margin-top: 0;
}

.footer {
    text-align: center;
    margin-top: 20px;
}
