body {
    background-color: #eee;
    padding-bottom: 20px;
    padding-top: 30px;
}

.intro {
    background-color: #2d2d2d;
    color: #eee;
}

.groups {
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .groups {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .groups {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.group {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.group .header {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.group-name {
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
}

.group-schedule {
    font-size: 12px;
    line-height: 10px;
}

.group-description {
    color: #666;
    font-style: italic;
}

.group .inner :first-child {
    margin-top: 0;
}

.footer {
    margin-top: 20px;
    text-align: center;
}
