<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leeds Geeks</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/_/leedsgeeks.css" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <p>The <i>What's On</i> guide for Leeds geeks.</p>
            </div>
            <div class="groups">
                {{range .Groups}}
                <div class="group">
                    <div class="inner">
                        <div class="header">
                            <h1 class="group-name">{{.Name}}</h1>
                            {{if .Schedule}}
                            <p class="group-schedule">{{.Schedule}}
                            {{end}}
                        </div>
                        {{if .Description}}
                        <p class="group-description">{{.Description}}
                        {{end}}
                        {{range .Links}}
                        <p class="group-link">{{.Label}}: <a href="{{.URL}}">{{if .LinkText}}{{.LinkText}}{{else}}{{.URL}}{{end}}</a></p>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
            <div class="footer">
                <p>Please send any updates to <a
                    href="mailto:{{.Maintainer}}">{{.Maintainer}}</a> or fork
                the <a href="{{.RepositoryURL}}">github repository</a>, make
                your changes, and send a pull request.</p>
            </div>
        </div>
    </body>
</html>
